name: Go application

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ">=1.24"
      - name: Run pre-commit hook
        uses: pre-commit/action@v3.0.1
      - name: Run tests
        run: go test -race -v ./...
  test-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ">=1.24"
      - name: Run tests
        run: go test -race -v ./...
